* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: url(../image/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  width: 98vw;
}
/* .registration-form {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background: rgba(255, 255, 255, 0.664);
  padding: 2rem;
} */
.registration-form {
  box-sizing: border-box;
  margin: 5rem auto;
  width: 50%;
  background: rgba(255, 255, 255, 0.664);
  padding: 2rem;
}
.form-body {
  margin-top: 2rem;
  padding-right: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.4rem;
  column-gap: 2rem;
}
.form-body span {
  display: block;
}
.form-body input {
  display: block;
  width: 100%;
  margin-top: 0.3rem;
  padding: 0.3rem;
  border: 1px solid black;
  outline: none;
}
.form-body label span::after {
  content: "*";
  color: red;
}
.gender-section {
  margin-top: 1.2rem;
}
.gender {
  margin-top: 0.3rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.gender-section #btn {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.3rem;
  margin-top: 1rem;
  cursor: pointer;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  /* display: none; */
}
.gender-section #btn:hover {
  background-color: #502e3dee;
  color: #fff;
}
.registration-form p {
  font-size: 0.7rem;
  color: red;
  margin: 0.1rem;
  width: 100%;
}
input.valid {
  border-color: #0e600e;
  background-color: #e8f0fe;
  color: rgb(20, 19, 19);
}
input.invalid {
  border-color: orange;
}
.registration-form p {
  text-align: left;
  opacity: 0;
  height: 0;
}
input.invalid + p {
  opacity: 1;
  line-height: 1;
}
#btn.invalidform {
  display: none;
}
#btn.validform {
  display: block;
}

#showbtn {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  font-size: 1rem;
  padding: 0.3rem;
  margin-top: 1rem;
  cursor: pointer;
  background-color: #36cc36f2;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
}

#show-data {
  /* display: none; */
  box-sizing: border-box;
  width: 60%;
  /* position: fixed; */
  /* position: absolute; */
  /* position: relative; */
  /* top: 50%; */
  /* bottom: 0; */
  /* left: 50%; */
  /* transform: translatex(-50%); */
  background: rgba(255, 255, 255, 0.664);
  padding: 2rem;
  margin: 2rem auto;
  /* display: none; */
}
#table {
  background-color: #fff;
  width: 100%;
  border-collapse: collapse;
}
#table th,
#table td {
  border: 1px solid black;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .form-body {
    grid-template-columns: 1fr;
  }
  .gender {
    grid-template-columns: auto;
  }
  #show-data {
    width: 100vw;
  }
}
#genderError {
  display: inline-block;
  color: red;
}
#increment {
  opacity: 0;
}
#searchbtn {
  text-align: center;
  margin: 0.5rem 0;
  font-size: 1rem;
  padding: 0.1rem;
}
#searchbtn input {
  /* text-align: center; */
  padding: 0.1rem 0.5rem;
}
#delete-data {
  padding: 0.3rem 0.3rem;
  background-color: red;
  border: 1px solid black;
  color: white;
}
